<h1>Bienvenidos al Coderchat comunitario</h1>
<div>
    <p>Escribe un mensaje en nuestro chatBox: </p>
    <input id="chatBox" type="text">
    <div>
        <div id="messageLog"></div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="./js/messages.js"></script>